/build/CMakeFiles
/build/src
/build/Win32
/build/Debug
/build/lib
/build/evl_logger.sln
/build/evl_logger.v12.suo
/build/INSTALL.vcxproj
/build/INSTALL.vcxproj.filters
/build/ZERO_CHECK.vcxproj
/build/ZERO_CHECK.vcxproj.filters
/build/cmake_install.cmake
/build/CMakeCache.txt
/build/evl_logger.opensdf
/build/evl_logger.sdf
/build/ALL_BUILD.vcxproj
/build/ALL_BUILD.vcxproj.filters
build/linux/src/*
build/linux/src/*.*
*/*.cmake
*~
